<a href="https://colab.research.google.com/github/wsamuelw/autokeras-text-classification-demo/blob/main/autokeras_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install autokeras

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import autokeras as ak

In [ ]:
# download data
!wget "https://archive.ics.uci.edu/ml/machine-learning-databases/00228/smsspamcollection.zip"

In [ ]:
!unzip -o smsspamcollection.zip

In [ ]:
!head -10 SMSSpamCollection

ham	Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
ham	Ok lar... Joking wif u oni...
spam	Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
ham	U dun say so early hor... U c already then say...
ham	Nah I don't think he goes to usf, he lives around here though
spam	FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv
ham	Even my brother is not like to speak with me. They treat me like aids patent.
ham	As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune
spam	WINNER!! As a valued network customer you have been selected to receivea £900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.
spam	Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030

In [ ]:
# some data transformation steps
fileName = '/content/SMSSpamCollection'

df = pd.DataFrame({'label':int(), 'text':str()}, index=[])

with open(fileName) as f:
  for line in f.readlines():
    split = line.split('\t')
    df = df.append({'label': 1 if split[0]=='spam' else 0,
                    'text': split[1]},
                   ignore_index = True)
    
df.head()

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                    Ok lar... Joking wif u oni...\n
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
# count the number of rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5574 non-null   int64
 1   text    5574 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [ ]:
from sklearn.model_selection import train_test_split

x = np.array(df.text)
y = np.array(df.label)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [ ]:
# create an instance
clf = ak.TextClassifier(max_trials = 3) # default = 100

# split the data for training
# this will take around 30+ mins based on the dataset
clf.fit(x_train, y_train, validation_split = 0.3) # default = 0.2

Trial 3 Complete [00h 14m 15s]
val_loss: 0.06089242175221443

Best val_loss So Far: 0.04731966555118561
Total elapsed time: 00h 15m 07s
INFO:tensorflow:Oracle triggered exit
131/131 [==============================] - 2s 9ms/step - loss: 0.3446 - accuracy: 0.8794
INFO:tensorflow:Assets written to: ./text_classifier/best_model/assets

In [ ]:
from sklearn.metrics import classification_report

y_hat = clf.predict(x_test)

print(classification_report(y_test, y_hat))

44/44 [==============================] - 0s 4ms/step
              precision    recall  f1-score   support

           0       0.98      0.99      0.99      1193
           1       0.96      0.87      0.91       201

    accuracy                           0.98      1394
   macro avg       0.97      0.93      0.95      1394
weighted avg       0.98      0.98      0.98      1394

In [ ]:
# find a text = spam
df[df.label == 1].head()

    label                                               text
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
5       1  FreeMsg Hey there darling it's been 3 week's n...
8       1  WINNER!! As a valued network customer you have...
9       1  Had your mobile 11 months or more? U R entitle...
11      1  SIX chances to win CASH! From 100 to 20,000 po...

In [ ]:
# make a prediction with one text
text = np.array(['FW: update your account details now for your crypto wallet'])

In [ ]:
pred = clf.predict(text)
outcome = pd.DataFrame(pred, columns = ['label'])

if int(outcome['label'])>0:
  print("It is proabbly a SPAM!")
else:
  print('All good! It is probably not a spam')

1/1 [==============================] - 0s 9ms/step
It is proabbly a SPAM!